section {
    padding: 15px 10px;


}

h3 {
    padding: 15px 10px;
    margin: auto;
    text-align: center;
}

.article {
    color: white;
    width: 40%;
    border: 3px solid #ccc;
    margin: 15px auto;
    padding: 15px 15px;
    background-color: rgb(47, 47, 47);
    border-radius: 30px;
    font-family: 'Roboto',
        sans-serif;

}

span {
    padding: 15px 10px;
    text-align: center;

}