body {
  background-color: rgb(26, 26, 26);
  text-align: center;
  color: white;
  font-family: 'Texturina',serif;
}

.dashboard {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.Articles {
  margin-top: 100px
}

.nav{
  font-family: 'Texturina',serif;
  box-shadow: 1px 1px 10px black;
}

.alerts {
display: flex;
flex-direction: column;
align-items: center;
}